{% extends 'layouts/main.twig' %}

{% block content %}
    <form method="post">
        <input type="text" name="name" placeholder="name"><br>
        <input type="text" name="text" placeholder="text"><br>
        <input type="text" name="price" placeholder="price"><br>
        <input type="submit">
    </form>
{% endblock %}